# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
#ca-certificates==2023.01.10
certifi==2021.5.30
setuptools==58.0.4
wheel==0.37.1


